body
{
    color: rgb(10, 10, 17);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    color: rgb(0, 0, 250);
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    color: rgb(200, 0, 250);
}
#post p
{
        color:  rgb(10, 10, 17);
}
